.assignments {
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;

  h2 {
    margin-bottom: 1.5rem;
  }

  &__list {
    display: grid;
    gap: 1rem;
  }

  &__card {
    padding: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    background: #fff;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      margin-block: 6px;
      font-size: 16px;
    }

    p {
      font-size: 14px;
      color: #555;
      margin-bottom: 8px;
    }
  }

  &__difficulty {
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 4px;
    background: #f0f0f0;
    width: fit-content;
  }

  &__btnbox {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  &__btnbox button {
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    background: #333;
    color: #fff;
    font-size: 13px;
    cursor: pointer;

    &:hover {
      background: #111;
    }
  }

  &__error {
    background: #ffe6e6;
    color: #d93025;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 641px) {
  .assignments {
    max-width: 700px;

    &__card {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: 1024px) {
  .assignments {
    max-width: 900px;

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1281px) {
  .assignments {
    max-width: 1100px;

    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}